.recent-files-file {
  .tree-item-spacer {
    flex-grow: 1;
  }
}

.recent-files-title {
  justify-content: flex-start;
  align-items: unset;
}

.recent-files-content {
  flex-grow: 1;
}

.recent-files-time-content {
  filter: brightness(1.2);
}

.theme-dark .recent-files-time-content {
  filter: brightness(0.8);
}

.recent-files-file-delete {
  justify-content: right;
  display: none;
  align-items: center;
}

.recent-files-title:hover .recent-files-file-delete {
  display: flex;
  cursor: var(--cursor);
}

.recent-files-file-delete:hover {
  color: var(--nav-item-color-hover);
}

.recent-files-donation {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.recent-files-donate-button {
  margin: 10px;
}